.footer {
    background-image: linear-gradient(to right, #F4DDF1 0, #B83D6E 100%);
    padding: 10px 0;
	
    bottom:0;
	margin-right:0;
	position: relative;
    bottom: 0;
	margin-top:10%; 
	width:100%;
	
}

.footer a {
    
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.follow
{
	text-align:center;
	
	color:black;
}
body
{
	overflow-x:hidden
	
}
.button
{
	
	text-align:center;
	
}
#button1
{
	background-color:black;
	padding:10px;
	color:white;
    border-radius: 25px;
	
}
.tf
{
	font-family:"Goudy Bookletter 1911",sans-serif;
}
.ch
{
	padding-left: 3px;
	font-family:OCR A Std;
	font-size:14px;
	
	 
}
#name,#rollno,#year,#stream
{
	border-radius:2.5px;
border-color: white;

	
}
.thin
{
padding-top: 5px;
font-family: Brush Script MT;
}
#student
{
	text-align:center;
	background-color:#F0F0F0  ;
	margin-left:5%;
	margin-right:5%; 
}
#tab{
	text-align:center;
	
}
.the
{
	
	font-family:Gill Sans Extrabold,monospace;
}
#bt7
{
	float:right;
margin-bottom: 3px;
}
#list{
	text-align:center;

	
	
	}
	.cr
	{
		
	text-align:center;
	}
	#register
	{
		color:red;
		text-align:center;
		font-family:Gill Sans Extrabold;
	}
	
